
    {% if title %}
    <title>{{ title }}-Rentaly</title>
    {% else %}
    <title> JustRent </title>
    {% endif %}
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png')}}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="JustRent" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files
      ================================================== -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{{ url_for('static', filename='css/mdb.min.css') }}" rel="stylesheet" type="text/css" id="mdb">
    <link href="{{ url_for('static', filename='css/plugins.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/coloring.css') }}" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="{{ url_for('static', filename='css/colors/scheme-01.css') }}" rel="stylesheet" type="text/css">
     <!-- countdown -->
     <link id="colors" href="{{ url_for('static', filename='css/jquery.countdown.css') }}" rel="stylesheet" type="text/css" />