{% extends "admin/base.html" %}
{% block content %}
<div id="main">
    <section class="section">
        <div class="card">
            <div class="card-header m-auto">
                <h4 class="card-title">汽車清單</h4>
            </div>
            <form method="POST">
                <div class="card-body">

                    <!-- 汽車名稱 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="name">汽車名稱</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="name"
                                value="{{ car.name }}"></div>
                    </div>

                    <!-- 品牌 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="brand">車輛品牌</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="brand"
                                value="{{ car.brand }}"></div>
                    </div>


                    <!-- 車身型式 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="body">車身型式</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="body"
                                value="{{ car.body }}"></div>
                    </div>


                    <!-- 座位數 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="seats">座位數</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="seats"
                                value="{{ car.seats }}"></div>
                    </div>

                    <!-- 車門數 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="doors">車門數</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="doors"
                                value="{{ car.doors }}"></div>
                    </div>

                    <!-- 行李量 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="luggage_capacity">行李量</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="luggage_capacity"
                                value="{{ car.luggage_capacity }}"></div>
                    </div>

                    <!-- 燃料種類 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="fuel_type">燃料種類</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="fuel_type"
                                value="{{ car.fuel_type }}"></div>
                    </div>

                    <!-- 馬力 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="engine">馬力</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="engine"
                                value="{{ car.engine }}"></div>
                    </div>

                    <!-- 年份 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="year">年份</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="year"
                                value="{{ car.year }}"></div>
                    </div>

                    <!-- 里程數 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="mileage">里程數</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="mileage"
                                value="{{ car.mileage }}"></div>
                    </div>

                    <!-- 變速箱型式 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="transmission">變速箱型式</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="transmission"
                                value="{{ car.transmission }}"></div>
                    </div>

                    <!-- 驅動方式 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="drive_type">驅動方式</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="drive_type"
                                value="{{ car.drive_type }}"></div>
                    </div>

                    <!-- 油耗表現 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="fuel_economy">油耗表現</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="fuel_economy"
                                value="{{ car.fuel_economy }}"></div>
                    </div>

                    <!-- 外觀顏色 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="exterior_color">外觀顏色</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="exterior_color"
                                value="{{ car.exterior_color }}"></div>
                    </div>

                    <!-- 內裝顏色 -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-3"><label for="interior_color">內裝顏色</label></div>
                        <div class="col-md-5"><input type="text" class="form-control" name="interior_color"
                                value="{{ car.interior_color }}"></div>
                    </div>
                </div>

                <div class="col-sm-12 d-flex justify-content-center">
                    <a href="{{ url_for('controller.admin_index') }}" readonly
                        class="btn btn-light-secondary me-1 mb-1">回首頁</a>
                </div>
            </form>

        </div>
    </section>
</div>
{% endblock %}