{% extends "base.html"  %}
{% block content %}
<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="section-hero" class="jarallax text-light pt50 pb50 vertical-center" aria-label="section">
        <img src="{{ url_for('static', filename='images/background/11.jpg') }}" class="jarallax-img" alt="">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1>Oops! Something went wrong.</h1>
                    <p>It seems there’s an issue on our end. Please try again later or contact support if the problem persists.</p>
                    <a href="{{ url_for('controller.home') }}" class="btn-main">Go Back</a>
                    <div class="spacer-10"></div>
                </div>
                <div class="col-lg-6 text-center">
                    <h1 class="s2">
                        <span class="c1">500</span>
                        <span class="spacer-single"></span>
                        <span class="c3">Server Error</span>
                    </h1>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- content close -->
{% endblock %}