{% extends "base.html" %}
{% block content %}
<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
  <div id="top"></div>

  <!-- section begin -->
  <section id="subheader" class="jarallax text-light">
    <img src="{{ url_for('static', filename='images/background/14.jpg') }}" class="jarallax-img" alt="">
    <div class="center-y relative text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>My Orders</h1>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- section close -->

  <section id="section-settings" class="bg-gray-100">
    <div class="container">
      <div class="row">
        {% include 'account/includes/sidebar.html' %}

        <div class="col-lg-9">

          <div class="card p-4 rounded-5 mb25">
            <h4>Scheduled Orders</h4>

            <table class="table de-table">
              <thead>
                <tr>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Order ID</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Car Name</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Drop Off Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Return Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Status</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Cancelled</span></th>
                </tr>
              </thead>
              <tbody id="scheduled-orders-body">
                <!-- 將由 AJAX 動態載入 -->
                <tr>
                  <td colspan="8" class="text-center">載入中...</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card p-4 rounded-5 mb25">
            <h4>Completed Orders</h4>

            <table class="table de-table">
              <thead>
                <tr>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Order ID</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Car Name</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Drop Off Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Return Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Status</span></th>
                </tr>
              </thead>
              <tbody id="completed-orders-body">
                <!-- 將由 AJAX 動態載入 -->
                <tr>
                  <td colspan="7" class="text-center">載入中...</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="card p-4 rounded-5 mb25">
            <h4>Cancelled Orders</h4>

            <table class="table de-table">
              <thead>
                <tr>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Order ID</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Car Name</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Drop Off Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Return Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Status</span></th>
                </tr>
              </thead>
              <tbody id="cancelled-orders-body">
                <!-- 將由 AJAX 動態載入 -->
                <tr>
                  <td colspan="7" class="text-center">載入中...</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
<!-- content close -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/booking.js') }}"></script>
{% endblock %}