{% extends "base.html" %}
{% block content %}
<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
  <div id="top"></div>

  <!-- section begin -->
  <section id="subheader" class="jarallax text-light">
    <img src="{{ url_for('static', filename='images/background/14.jpg') }}" class="jarallax-img" alt="">
    <div class="center-y relative text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>My Orders</h1>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- section close -->

  <section id="section-settings" class="bg-gray-100">
    <div class="container">
      <div class="row">
        {% include 'account/includes/sidebar.html' %}

        <div class="col-lg-9">

          <div class="card p-4 rounded-5 mb25">
            <h4>Scheduled Orders</h4>

            <table class="table de-table">
              <thead>
                <tr>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Order ID</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Car Name</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Drop Off Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Return Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Status</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Cancelled</span></th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                {% if order.status == 'scheduled' %}
                <tr>
                  <td><span class="d-lg-none d-sm-block">Order ID</span>
                    <div class="badge bg-gray-100 text-dark">#{{ order.id }}</div>
                  </td>
                  <td><span class="d-lg-none d-sm-block">Car Name</span><span class="bold">{{ order.car_name }}</span>
                  </td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Location</span>{{ order.pickup_location }}</td>
                  <td><span class="d-lg-none d-sm-block">Drop Off Location</span>{{ order.dropoff_location }}</td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Date</span>{{ order.pick_up_time }}</td>
                  <td><span class="d-lg-none d-sm-block">Return Date</span>{{ order.return_time }}</td>
                  <td>
                    <div class="badge rounded-pill bg-warning">{{ order.status }}</div>
                  </td>
                  <td>
                    <div style="display: flex; justify-content: center; align-items: center;">
                      <a href="{{ url_for('controller.cancel_order', order_id=order.id) }}"
                        class="btn btn-danger btn-xs " style="padding: 2px 8px; font-size: 0.8rem;" onclick="return confirm('確定要取消此訂單嗎？');">X</a>
                    </div>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="card p-4 rounded-5 mb25">
            <h4>Completed Orders</h4>

            <table class="table de-table">
              <thead>
                <tr>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Order ID</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Car Name</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Drop Off Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Return Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Status</span></th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                {% if order.status == 'completed' %}
                <tr>
                  <td><span class="d-lg-none d-sm-block">Order ID</span>
                    <div class="badge bg-gray-100 text-dark">#{{ order.id }}</div>
                  </td>
                  <td><span class="d-lg-none d-sm-block">Car Name</span><span class="bold">{{ order.car_name }}</span>
                  </td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Location</span>{{ order.pickup_location }}</td>
                  <td><span class="d-lg-none d-sm-block">Drop Off Location</span>{{ order.dropoff_location }}</td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Date</span>{{ order.pick_up_time }}</td>
                  <td><span class="d-lg-none d-sm-block">Return Date</span>{{ order.return_time }}</td>
                  <td>
                    <div class="badge rounded-pill bg-success">{{ order.status }}</div>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="card p-4 rounded-5 mb25">
            <h4>Cancelled Orders</h4>

            <table class="table de-table">
              <thead>
                <tr>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Order ID</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Car Name</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Drop Off Location</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Pick Up Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Return Date</span></th>
                  <th scope="col"><span class="text-uppercase fs-12 text-gray">Status</span></th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                {% if order.status == 'cancelled' %}
                <tr>
                  <td><span class="d-lg-none d-sm-block">Order ID</span>
                    <div class="badge bg-gray-100 text-dark">#{{ order.id }}</div>
                  </td>
                  <td><span class="d-lg-none d-sm-block">Car Name</span><span class="bold">{{ order.car_name }}</span>
                  </td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Location</span>{{ order.pickup_location }}</td>
                  <td><span class="d-lg-none d-sm-block">Drop Off Location</span>{{ order.dropoff_location }}</td>
                  <td><span class="d-lg-none d-sm-block">Pick Up Date</span>{{ order.pick_up_time }}</td>
                  <td><span class="d-lg-none d-sm-block">Return Date</span>{{ order.return_time }}</td>
                  <td>
                    <div class="badge rounded-pill bg-danger">{{ order.status }}</div>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
<!-- content close -->
{% endblock %}